body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #fdfbfb, #ebedee 70%);
}
.container {
  width: 400px;
  max-width: 100%;
  height: auto;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  box-sizing: border-box;
}
.header {
  padding: 20px 40px;
}
.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input {
  border: 2px solid #ccc;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control.success input {
  border-color: #24cc71;
}

.form-control.error input {
  border-color: #e74c3c;
}
.form-control i {
  position: absolute;
  top: 36px;
  right: 10px;
  visibility: hidden;
}
.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}
form button {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background: #3498db;
  border: 2px double crimson;
  border-radius: 4px;
  color: crimson;
}
